<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

    <!-- Lato Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

    {{ if .Param "math" }}
    {{ partial "math.html" . }}
    {{ end }}
</head>
<body>
    <main class="container">
        {{ block "main" . }}{{ end }}
    </main>

    <footer class="container">
        <p>&copy; {{ .Site.Params.author }}</p>
        <p style="font-size: 0.9em;">Website design inspired by <a href="https://jonbarron.github.io/">Jon Barron</a></p>
    </footer>
</body>
</html>
