{{ define "main" }}
<table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
<tbody>
    <!-- Header: Bio + Photo -->
    <tr style="padding:0px">
        <td style="padding:0px">
            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tbody>
                <tr style="padding:0px">
                    <!-- Bio section (63%) -->
                    <td style="padding:2.5%;width:63%;vertical-align:middle">
                        <p class="name" style="text-align: center;">
                            {{ .Site.Title }}
                        </p>
                        <p>
                            {{ .Content }}
                        </p>
                        <p style="text-align:center">
                            <a href="mailto:{{ .Site.Params.email }}">Email</a> &nbsp;/&nbsp;
                            <a href="{{ .Site.Params.cv_url }}">CV</a> &nbsp;/&nbsp;
                            {{ with .Site.Params.scholar }}<a href="{{ . }}">Scholar</a> &nbsp;/&nbsp;{{ end }}
                            <a href="{{ .Site.Params.github }}">GitHub</a> &nbsp;/&nbsp;
                            <a href="/notes/">Notes</a> &nbsp;/&nbsp;
                            <a href="/paper-reading/">Paper Reading</a>
                        </p>
                    </td>
                    <!-- Photo section (37%) -->
                    <td style="padding:2.5%;width:37%;max-width:37%">
                        <div class="profile-photo">ZY</div>
                    </td>
                </tr>
            </tbody>
            </table>

            <!-- Research section -->
            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tbody>
                <tr>
                    <td style="padding:16px;width:100%;vertical-align:middle">
                        <h2>Research</h2>
                        <p>
                            I'm interested in computer vision, 3D modeling and robotics.
                        </p>
                    </td>
                </tr>
            </tbody>
            </table>

            <!-- Publications -->
            <table style="width:100%;border:0px;border-spacing:0px 10px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tbody>
                {{ $pubs := where .Site.RegularPages "Section" "publications" }}
                {{ range $pubs.ByDate.Reverse }}
                {{ $id := .File.BaseFileName }}
                <tr {{ if .Params.selected }}bgcolor="#ffffd0"{{ end }}>
                    <td style="padding:16px;width:20%;vertical-align:middle">
                        <div class="one">
                            {{ if .Params.hover_image }}
                            <div class="two" id='{{ $id }}_image'>
                                <img src='{{ .Params.hover_image }}' width="100%">
                            </div>
                            {{ end }}
                            {{ if .Params.image }}
                            <img src='{{ .Params.image }}' width="160">
                            {{ else }}
                            <div style="width:160px;height:107px;background:#eee;"></div>
                            {{ end }}
                        </div>
                    </td>
                    <td style="padding:20px;width:80%;vertical-align:middle">
                        <a href="{{ .Permalink }}">
                            <span class="papertitle">{{ .Title }}</span>
                        </a>
                        <br>
                        {{ .Params.authors | markdownify }}
                        <br>
                        <em>{{ .Params.venue }}</em>, {{ .Date.Format "2006" }}
                        <br>
                        {{ if .Params.paper }}<a href="{{ .Params.paper }}">paper</a>{{ end }}
                        {{ if and .Params.paper .Params.code }} / {{ end }}
                        {{ if .Params.code }}<a href="{{ .Params.code }}">code</a>{{ end }}
                        {{ if .Params.tldr }}
                        <p>{{ .Params.tldr }}</p>
                        {{ end }}
                        {{ if or .Params.equal_contrib .Params.corresponding }}
                        <p style="font-size:13px;color:#666;font-style:italic;">
                            {{ if .Params.equal_contrib }}<sup>*</sup>Equal contribution{{ end }}
                            {{ if and .Params.equal_contrib .Params.corresponding }}&nbsp;&nbsp;{{ end }}
                            {{ if .Params.corresponding }}<sup>✉</sup>Corresponding author{{ end }}
                        </p>
                        {{ end }}
                    </td>
                </tr>
                {{ end }}
            </tbody>
            </table>
        </td>
    </tr>
</tbody>
</table>
{{ end }}
